@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: UniSans;
    src: url(assets/UniSans.otf);
}

body, html {
    margin: 0;
    height: 100%;
    background-color: #040f11;
    font-family: Poppins;
    color: #effbfb;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #040f11;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: #040f11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bec6c637; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8e949437; 
}

main {
    opacity: 0%;
    visibility: hidden;
    overflow-y: hidden;
    transition: all ease-in-out 2s;
    transition-delay: 2s;
}

header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 15%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #bec6c637;
    padding: 10px;
}

footer {
    position: relative;
    width: 100%;
    height: 15%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    color: #bec6c6;
}

#alert {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 50%;
    height: 500px;
    background-color: #0a181b3d;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px #b1b1b1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    z-index: 1;
    opacity: 0%;
    pointer-events: none;
    transition: all ease-in-out 0.25s;
}

#alert.active {
    opacity: 100%;
    pointer-events: all;
}

#alert h1 {
    font-family: UniSans;
    font-size: 40pt;
    margin: 0;
}

#alert p {
    font-family: Poppins;
    color: #b3b8b8;
    font-size: 14pt;
    font-weight: 200;
}

#alert p:nth-child(3){
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #8f9494;
}

#landing_page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all ease-in-out 2s;
    animation-delay: 2s;
    animation: in_anim 2s ease-in-out;
}

.landing_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing_title h1 {
    font-family: UniSans;
    font-weight: 200;
    font-size: 60pt;
    text-align: center;
    text-shadow: 0px 0px 20px #ececec;
    margin: 0;
    animation: power_unstable 20s linear infinite;
}

.landing_title p {
    font-weight: 200;
    font-size: 14pt;
    color: #969e9eaf;
    text-align: center;
    margin: 0;
}

.landing_title p:nth-child(4) {
    padding: 10px;
    font-family: UniSans;
}

.landing_title form {
    width: 100%;
}

#title h1 {
    font-family: UniSans;
    font-size: 32pt;
    font-weight: 200;
    margin: 0;
    text-shadow: 0px 0px 20px #ececec;
    text-align: center;
}

#title p {
    color: #969e9e;
    font-size: 8pt;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
}

.web_title {
    font-size: 48pt;
    font-weight: 200;
    text-shadow: 0px 0px 20px #ececec;
    text-align: center;
    margin-bottom: 0;
    animation: power_unstable2 20s linear infinite;
}

.web_sub {
    font-weight: 200;
    text-align: center;
    margin-bottom: 80px;
    color: #bec6c6;
}

.web_container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

form {
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form_title {
    font-size: 32pt;
    font-weight: 200;
    color: #bec6c6;
    margin: 0;
}

.input_field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.q_cont {
    width: 340px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-size: 16pt;
    font-weight: 300;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="tel"], select {
    font-family: Poppins;
    font-size: 14pt;
    font-weight: 200;
    width: 340px;
    background-color: transparent;
    color: #ececec;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #bec6c667;
    padding-top: 10px;
    padding-bottom: 10px;
}

::-ms-reveal {
    filter: invert(100%);
}

.login input {
    width: 100%;
}

.landing_title input[type = "button"], .landing_title input[type = "submit"] {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    color: #bec6c667;
    font-family: UniSans;
    font-size: 16pt;
    font-weight: 300;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    margin-top: 40px;
    transition: all ease-in-out 0.25s;
    box-shadow: inset 2px 2px 10px #d4dcdc67;
}

.landing_title #acknowledge {
    width: 300px;
}

.landing_title input[type = "button"]:nth-child(5) {
    margin-top: 0px;
}

.landing_title input[type = "text"], input[type = "password"] {
    margin-top: 20px;
}

.landing_title input[type = "button"]:hover {
    color: #ececec;
    box-shadow: inset 5px 0px 10px #ececec;
}

.account {
    font-weight: 200;
    color: #7e7e7e;
}

input[type="date"]::-webkit-calendar-picker-indicator  {
    filter: invert(1)
            brightness(50%)
            sepia(100%)
            saturate(0%)
            hue-rotate(360deg)
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #7e7e7e;
}

select {
    border-bottom: solid 2px #bec6c667;
}

select:invalid {
    color: #7e7e7e;
}

option {
    color: #ececec;
    background-color: #040f11;
}

.l_cont {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l_cont input[type="text"] {
    width: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

.radio_cont {
    width: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.radio_cont label {
    font-weight: 200;
}

textarea {
    font-family: Poppins;
    font-size: 14pt;
    font-weight: 200;
    width: 100%;
    background-color: transparent;
    color: #ececec;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #bec6c667;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
}

input[type="file"] {
    display: none;
}

.file_label {
    font-family: Poppins;
    font-size: 16pt;
}

.file_custom {
    width: 100%;
    height: 150px;
    border: solid 2px #bec6c667;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: 200;
    display: grid;
    align-items: center;
    justify-content: center;
}

.file_button {
    padding: 10px;
    border: solid 2px #bec6c667;
    color: #bec6c667;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    text-align: center;
}

.file_button:hover {
    color: #ececec;
    border: solid 2px #ececec;
    box-shadow: 0px 0px 20px #d4dcdc67;
}

input[type="submit"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border: none;
    color: #bec6c667;
    font-family: UniSans;
    font-size: 22pt;
    font-weight: 300;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    box-shadow: inset 2px 2px 10px #bec6c667;
    transition: all ease-in-out 0.25s;
}

input[type="submit"]:hover {
    padding: 20px;
    font-size: 24pt;
    border-radius: 40px;
    color: #ececec;
    box-shadow: inset 2px 2px 10px #ececec;
}

.landing_title input[type="submit"]:hover {
    border-radius: 40px;
    color: #ececec;
    box-shadow: inset 2px 2px 10px #ececec;
    font-size: 16pt;
}

#submit_cont {
    width: 100%;
    height: 100px;
    margin-bottom: 80px;
}

#final_field {
    margin-bottom: 0;
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    filter: blur(175px);
    border-radius: 100px;
}

#pers_info, #add_info, #address, #member, #submit_cont {
    filter: blur(4px);
    pointer-events: none;
    transition: all ease-in-out 0.5s;
}

#home_page {
    width: 100%;
    height: 100%;
    opacity: 100%;
    animation: in_anim 2s ease-in-out;
}

#home_page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home_page p {
    font-weight: 300;
    font-size: 15pt;
    color: #969e9e;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

#home_page p:hover {
    color: #bcc4c4;
    text-shadow: 0px 0px 5px #b2baba;
}

#home_page #main_segment {
    position: relative;
    width: 90%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#main_segment h1 {
    font-family: UniSans;
    font-weight: 200;
    font-size: 80pt;
    text-shadow: 0px 0px 10px #ecececa8;
    margin: 0;
}

#main_segment h2 {
    margin: 0;
    font-family: Poppins;
    font-weight: 200;
    font-size: 28pt;
}

#main_segment h3 {
    margin: 0;
    font-family: Poppins;
    font-weight: 200;
    font-size: 16pt;
    color: #bcc4c4;
}

#main_segment #main_text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes power_unstable {
    0% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }

    22% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }

    22.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    23% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    23.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    24% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    32% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    45% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    45.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 40%;
    }
    75% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 40%;
    }
    75.5% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    76% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    76.5% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    77% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    100% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
}

@keyframes power_unstable2 {
    0% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }

    22% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }

    22.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    23% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    23.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    24% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    32% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    45% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    45.5% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    46% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    74.5% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    75% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    75.5% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    76% {
        text-shadow: 0px 0px 0px #ececec;
        opacity: 80%;
    }
    76.5% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    77% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
    100% {
        text-shadow: 0px 0px 15px #ececec;
        opacity: 100%;
    }
}

@keyframes in_anim {
    from {
        opacity: 0%;
        pointer-events: none;
    }
    to {
        opacity: 100%;
        pointer-events: all;
    }
}

@media only screen and (max-width: 768px) {
    .landing_title {
        width: 70%;
    }
    
    .landing_title h1 {
        font-size: 48pt;
       
    }
    
    .landing_title p {
        font-size: 10pt;
    }
    
    .q_cont, .l_cont {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form_title {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .landing_title {
        width: 90%;
    }
    
    .landing_title h1 {
        font-size: 42pt;
       
    }
    
    .landing_title p {
        font-size: 10pt;
    }
}